<a href="https://colab.research.google.com/github/rscrafael/Curso_pandas/blob/main/Primeiro_Exemplo_em_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro exemplo de manipulação de dados usando python pandas

Autor: Rafael S. Cardozo
Data: 06/02/2023

In [4]:
print('Hello world')

Hello world

In [5]:
#Importado biblioteca pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
#Usa o print para ver o dataframe!
print(combustiveis_df)

In [ ]:
display(combustiveis_df)

In [ ]:
#Quero, na verdade, exibir as primeiras 15 linhas
display(combustiveis_df.head(15))

In [ ]:
#Comandos Dataframe.shape e Dataframe.describe()
print(combustiveis_df.shape)
#Mostrar o numero de linhas e colunas (linhas, colunas)

#Só as linhas
print(combustiveis_df.shape[0])

In [ ]:
#Quais são as colunas e que tipo de dados cada um tem...
print(combustiveis_df.info())

In [ ]:
#Describe() mostra a estatístiva mais básica que a gente precisa
print(combustiveis_df.describe())

In [17]:
#filtrar apenas por uma coluna .head(numero de linhas) para aperecer o número de linhas
display(combustiveis_df['Revenda'])

0              POSTO ARAPIRACA LTDA
1              POSTO ARAPIRACA LTDA
2              POSTO ARAPIRACA LTDA
3              POSTO ARAPIRACA LTDA
4              POSTO ARAPIRACA LTDA
5    AUTO POSTO FREITAS & MAIA LTDA
6    AUTO POSTO FREITAS & MAIA LTDA
7    AUTO POSTO FREITAS & MAIA LTDA
8    AUTO POSTO FREITAS & MAIA LTDA
9    AUTO POSTO FREITAS & MAIA LTDA
Name: Revenda, dtype: object

In [ ]:
#Aqui criamos um novo Dataframe apenas com as colunas que eu quero...
ca_df = combustiveis_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]
display(ca_df)

In [22]:
#Exibe a 4a. linha
display(ca_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Produto             GASOLINA ADITIVADA
Valor de Venda                   6.899
Name: 3, dtype: object

In [ ]:
#exibir as linhas que eu desejo
display(ca_df.loc[9:19])

In [35]:
#Criar um dataframe gas_df contendo apenas as 4 colunas (Revenda, Municipio, Produto, Valor de Venda) e mostrar somente Gasolina
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [33]:
display(gas_df['Valor de Venda'].max())

7.999

In [38]:
#Se eu quiser qual é o posto e municipio mais cara do Brasil
display(gas_df[['Revenda', 'Municipio', 'Valor de Venda']].max())

Revenda           ZV POSTO DE SERVIÇO LTDA.
Municipio                           XANXERE
Valor de Venda                        7.999
dtype: object

In [ ]:
gas_df = gas_df.loc[gas_df['Municipio'] == 'JOINVILLE'].max()
display(gas_df)