<a href="https://colab.research.google.com/github/rscrafael/Curso_pandas/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Segundo exemplo de m,anipulação de dados usando Python Pandas
Veremos a inserção de dados, remoção de colunas, merge, gráficos

Autor: Rafael S. Cardozo
Data: 09/02/2023

In [1]:
#Importar biblioteca pandas

import pandas as pd

In [3]:
combustiveis_df = pd.read_excel('ca-2021-02.xlsx')
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [4]:
#Inserção simples de dados em uma nova coluna
combustiveis_df['Ativo'] = True
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [5]:
# E se eu quiser uma coluna nova chamada "OBS" que preencha automaticamente "Melhor cidade" quando o municipio for Joinville SC
combustiveis_df['Obs'] = ["Melhor Cidade" if municipio == 'JOINVILLE' else '' for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['JOINVILLE','ARAPIRACA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Obs']])

        Municipio            Obs
0       ARAPIRACA
1       ARAPIRACA
2       ARAPIRACA
3       ARAPIRACA
4       ARAPIRACA
...           ...            ...
166552  JOINVILLE  Melhor Cidade
166553  JOINVILLE  Melhor Cidade
166554  JOINVILLE  Melhor Cidade
166591  ARAPIRACA
166592  ARAPIRACA

[3060 rows x 2 columns]

In [ ]:
#Exemplo da sala
import numpy as np

combustiveis_df['Valor de Venda - Status'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustiveis_df)

In [ ]:
#Calcular número de postos de combustíveis por habitantes temos na amostragem de combustíveis nov/2021 (Já incluso minha cidade)
num_habitantes_df = pd.read_csv('ibge_num_habitantes_estimado.csv')
num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

In [ ]:
#Média de habitantes pela planilha num_habitantes_df
media_habitantes_df = num_habitantes_df[['NumHabitantes2021']].groupby(by=['NumHabitantes2021']).mean()
display(media_habitantes_df)

In [102]:
#Faz um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21308,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,,Barato,260690
21309,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,,Barato,260690
21310,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,,Caro,260690
21311,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,,Barato,260690
21312,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,,Barato,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21313 entries, 0 to 21312
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           21313 non-null  object
 1   Estado - Sigla           21313 non-null  object
 2   Municipio                21313 non-null  object
 3   Revenda                  21313 non-null  object
 4   CNPJ da Revenda          21313 non-null  object
 5   Nome da Rua              21313 non-null  object
 6   Numero Rua               21313 non-null  object
 7   Complemento              3887 non-null   object
 8   Bairro                   21313 non-null  object
 9   Cep                      21313 non-null  object
 10  Produto                  21313 non-null  object
 11  Data da Coleta           21313 non-null  datetime64[ns]
 12  Valor de Venda           21313 non-null  float64
 13  Valor de Compra          0 non-null      float64
 14  Unidade de Medida        21313 non-null  object
 15  Bandeira                 21313 non-null  object
 16  Ativo                    21313 non-null  bool
 17  Obs                      21313 non-null  object
 18  Valor de Venda - Status  21313 non-null  object
 19  NumHabitantes2021        21313 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.3+ MB
None

In [100]:
#Destruir coluna completamente vazia
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21313 entries, 0 to 21312
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     21313 non-null  object
 1   Municipio          21313 non-null  object
 2   Revenda            21313 non-null  object
 3   CNPJ da Revenda    21313 non-null  object
 4   NumHabitantes2021  21313 non-null  int64
dtypes: int64(1), object(4)
memory usage: 999.0+ KB
None

In [103]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Valor de Venda - Status', 'Obs', 'Complemento', 'Valor de Compra']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21313 entries, 0 to 21312
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     21313 non-null  object
 1   Municipio          21313 non-null  object
 2   Revenda            21313 non-null  object
 3   CNPJ da Revenda    21313 non-null  object
 4   NumHabitantes2021  21313 non-null  int64
dtypes: int64(1), object(4)
memory usage: 999.0+ KB
None

In [81]:
display(merge_df.head(100))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,R$ / litro,RAIZEN,True,,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,R$ / litro,RAIZEN,True,,Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,R$ / litro,RAIZEN,True,,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,R$ / litro,BRANCA,True,,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,R$ / litro,BRANCA,True,,Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,NOVA SUIÇA,74280-235,GASOLINA,2021-11-04,7.270,R$ / litro,BRANCA,True,,Caro,1555626
96,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,NOVA SUIÇA,74280-235,DIESEL S10,2021-11-04,5.570,R$ / litro,BRANCA,True,,Barato,1555626
97,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,JARDIM AMERICA,74255-470,ETANOL,2021-11-04,5.150,R$ / litro,BRANCA,True,,Barato,1555626
98,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,JARDIM AMERICA,74255-470,GASOLINA,2021-11-04,7.190,R$ / litro,BRANCA,True,,Caro,1555626
99,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,JARDIM AMERICA,74255-470,DIESEL S10,2021-11-04,5.990,R$ / litro,BRANCA,True,,Barato,1555626

In [82]:
#Remover as linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,R$ / litro,RAIZEN,True,,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,R$ / litro,RAIZEN,True,,Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,R$ / litro,RAIZEN,True,,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,R$ / litro,BRANCA,True,,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,R$ / litro,BRANCA,True,,Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,NOVA SUIÇA,74280-235,GASOLINA,2021-11-04,7.270,R$ / litro,BRANCA,True,,Caro,1555626
96,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,NOVA SUIÇA,74280-235,DIESEL S10,2021-11-04,5.570,R$ / litro,BRANCA,True,,Barato,1555626
97,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,JARDIM AMERICA,74255-470,ETANOL,2021-11-04,5.150,R$ / litro,BRANCA,True,,Barato,1555626
98,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,JARDIM AMERICA,74255-470,GASOLINA,2021-11-04,7.190,R$ / litro,BRANCA,True,,Caro,1555626
99,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,JARDIM AMERICA,74255-470,DIESEL S10,2021-11-04,5.990,R$ / litro,BRANCA,True,,Barato,1555626

In [97]:
#Agrupar e contar quantos postos tem na cidade
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Numero de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Numero de Postos
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                         1090
GO             GOIANIA        1555626                        1667
MG             BELO HORIZONTE 2530701                         827
MS             CAMPO GRANDE   916001                         1606
PR             CURITIBA       1963726                        1291
RJ             RIO DE JANEIRO 6775561                        2445
RN             NATAL          803739                         1093
RO             PORTO VELHO    548952                          805
RS             PORTO ALEGRE   1492530                        1142
SC             JOINVILLE      604708                          679
SP             CAMPINAS       1223237                        1605
               INDAIATUBA     260690                          562
               SANTOS         433991                          459
               SAO PAULO      12396372                       5220
               SAO VICENTE    370839                          453
TO             PALMAS         313349                          369

In [110]:
#Tentar achar o erro
postos_por_municipio_df['NumHabitantes2021'] / postos_por_municipio_df['Numero de Postos']
display(postos_por_municipio_df)

KeyError: ignored